{% extends '_layouts/message' %}

{% do view.registerAssetBundle('putyourlightson\\snaptcha\\assets\\ErrorAsset') %}

{% set title = settings.errorTitle %}


{% block message %}

    <h2>{{ settings.errorTitle }}</h2>

    <p id="error" class="hidden">
        {{ settings.errorMessage }}
    </p>

    <p id="warning" class="warning">
        {{ settings.errorJavascriptDisabled }}
    </p>

    <form action="" method="post">
        {% for name, value in postedValues if name != 'snaptcha' %}
            {{ hiddenInput(name, value) }}
        {% endfor %}

        {{ craft.snaptcha.field }}

        <button id="resubmit" type="submit" class="btn submit disabled" data-timeout="{{ settings.minimumSubmitTime }}">
            {{ settings.errorButtonText }}
        </button>
        <div id="graphic" class="spinner hidden"></div>
    </form>

{% endblock %}
