{% extends '_layouts/message' %}

{% set title = errorTitle %}

{% js %}
    document.getElementById('warning').remove();
    document.getElementById('error').classList.remove('hidden');
    document.getElementById('resubmit').classList.remove('disabled');
{% endjs %}

{% block message %}

    <h2>{{ errorTitle }}</h2>

    <p id="error" class="hidden">
        {{ errorMessage }}
    </p>

    <p id="warning" class="warning">
        {{ errorJavascriptDisabled }}
    </p>

    <form action="" method="post">
        {% for name, value in postedValues if name != 'snaptcha' %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}

        {{ craft.snaptcha.field }}

        <button id="resubmit" type="submit" class="btn submit disabled" style="font-weight: bold; text-transform: uppercase;">
            {{ errorButtonText }}
        </button>
    </form>

{% endblock %}
